.admin-form {
    width: 400px;
    margin: 0 auto;
}

#cat_image {
    width: 400px;
    margin: 30px auto;
}

.right {
    float: right;
    margin: 0 2px;
}

@media (max-width : 400px) {
    #cat_image {
        max-width: 100%;
    }
    .admin-form {
        max-width: 100%;
        padding: 10px;
    }
}